/*-----GENERALE-----*/

@font-face {
    font-family: myFont;
    src: url(../driveImg/fonts/ufonts.com_tw-cen-mt.ttf);
}

body {
    font-family: myFont;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}

h1 {
    font-size: 22px;
    padding: 40px 0px;
    color: #2e2e2e;
    margin: 0;
}

h1 span {
    font-size: 28px;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    color: #333333;
}

h3 {
    font-size: 20px;
    color: #2e2e2e;
    font-weight: 600;
}


h4 {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-family: myfont;
}

p {
    font-size: 14px;
    color: #959595;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
    font-family: myFont;
}

span {
    color: #FF5333;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

hr {
    color: #c8c1b3;
    width: 130px;
}

.moreinfo {
    font-size: 15px;
    padding: 28px 100px;
}

.elementi {
    padding: 0px 15px;
}

@media screen and (min-width: 768px) {
    h1{
        font-size: 36px;
    }
    h1 span {
        font-size: 45px;
    }

    .AboutUs p, #mainP {
        margin: 0px 100px;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


a, a:active, a:focus, a:active {
    text-decoration: none !important;
}






