/*HEADER*/

header {
  display: flex;
  background-image: url(../driveImg/images/header.jpg);
  background-size: cover;
  height: 500px;
  align-items: flex-end;

}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  opacity: 70%;
  padding: 20px;
  position: sticky;
  top: 0;

}

nav img {

  height: 26px;
}

nav li {

  list-style: none;
}

nav>li {
  margin: 0 1rem;
  overflow: hidden;
}

nav button {
  color: red;

}


/*HOME*/



/*ABOUT US */



/*BLOG*/
#blog {
  padding-top: 75px;
  padding-bottom: 100px;
  background: url("../driveImg/images/blog/blog-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.block {
  display: flex;
  flex-direction: column;
}

.block h1 {
  text-align: center;
  color: #fff;
}

#blog .block {
  color: #fff;
}

#blog .block ul li {
  /* overflow: hidden; */
  background: #fff;
  text-align: center;
 
}

#blog .block ul li h3 {
  color: #323232;
  padding: 0px 40px 20px;
  line-height: 26px;

}

.blog-img img {
  width: 100%;
}
.blog-img{
  border: none;
}

#blog .block ul li p {
  padding-top: 25px;
  padding: 20px;
}

.moreinfo {
  float: left;
  border-radius: 0px;
  background: #ff530a;
  color: #fff;
  border: 1px solid transparent;
  text-transform: uppercase;
  margin-top: 50px;
}

.moreinfo:hover {
  background-color: transparent;
  cursor: pointer;
  color: #ff530a;
  border: 1px solid #ff530a;
}

/* @media only screen and (min-width: 768px) and (max-width: 991px){

    ul li {
        display:grid;
        justify-items: normal;
      
} */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #blog .block ul li {
    display: flex;
  }

  #blog .block {
    text-align: center;
  }

  #blog .block ul {
    padding-bottom: 40px;
  }

  #blog .block ul li {
    width: 100%;


  }

  #blog .block h3 ul li {
    padding: 0px 0px 40px;
  }

  #blog .block .blog-img {
    width: 66%;
  }

  #blog .block .moreinfo {
    float: none;
    margin-top: 30px;
  }

  #blog .block .info:hover {
    border-radius: 30px;
  }

  #blog .block h1 {
    font-size: 36px;
  }

  #blog .block span {
    font-size: 40px;
  }

  .elementi {
    margin: 0 auto;
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .block ul li {
    display: flex;

  }

  .block ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #blog .block {
    text-align: center;
  }

  #blog .block ul {
    padding-bottom: 40px;
  }

  /* #blog .block h3 ul li {
    padding: 0px 0px 40px;
  } */

  #blog .block .blog-img {
    width: 130%;
  }

  #blog .block .moreinfo {
    float: right;
    margin-top: 30px;
  }

  #blog .block .info:hover {
    border-radius: 30px;
  }

  #blog .block h1 {
    font-size: 36px;
  }

  #blog .block span {
    font-size: 40px;
  }

  .elementi {
    margin: auto;
    width: 700px;
  }
}


/*MENU*/



/*NEWS*/



/*CONTATTI*/



/*FOOTER*/