/*HEADER*/

header {
  display: flex;
  background-image: url(../driveImg/images/header.jpg);
  background-size: cover;
  height: 500px;
  align-items: flex-end;

}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  opacity: 70%;
  padding: 20px;
  position: sticky;
  top: 0;

}

nav img {

  height: 26px;
}

nav li {

  list-style: none;
}

nav>li {
  margin: 0 1rem;
  overflow: hidden;
}

nav button {
  color: red;

}


/*HOME*/



/*ABOUT US */



/*BLOG*/
#blog {
  padding-top: 75px;
  padding-bottom: 100px;
  background: url("../driveImg/images/blog/blog-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.block {
  display: flex;
  flex-direction: column;
}

.block h1 {
  text-align: center;
  color: #fff;
}

#blog .block {
  color: #fff;
}

#blog .block ul li {
  overflow: hidden;
  background: #fff;
  text-align: center;
 
}

#blog .block ul li h3 {
  color: #323232;
  padding: 0px 40px 20px;
  line-height: 26px;
  
}

.blog-img img {
  width: 100%;
}
.blog-img{
  border: none;
}

#blog .block ul li p {
  padding-top: 25px;
  padding: 20px;
}

.moreinfo {
  float: left;
  border-radius: 0px;
  background: #ff530a;
  color: #fff;
  border: 1px solid transparent;
  text-transform: uppercase;
  margin-top: 50px;
}

.moreinfo:hover {
  background-color: transparent;
  cursor: pointer;
  color: #ff530a;
  border: 1px solid #ff530a;
}




/*MENU*/



/*NEWS*/



/*CONTATTI*/



/*FOOTER*/